:root {
  --texto: #2e190b;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #2e190b;
  background-image: url('../img/coffee-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
  box-sizing: border-box;
}

.container {
  background-color: rgba(255, 255, 255, 0.591);
  padding: 40px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border: 3px solid #ba7453;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #5c3421;
  font-family: 'Times New Roman', serif;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #5c3421;
  font-family: 'Times New Roman', serif;
  margin-bottom: 10px;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: 2px solid #a97850;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 1rem;
  background-color: #fffaf5;
  transition: border 0.3s;
}

input:focus {
  border-color: #5c3421;
  outline: none;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #a97850;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5c3421;
}

.footer-text {
  margin-top: 20px;
  text-align: center;
  font-size: 0.95rem;
}

.footer-text a {
  color: #5c3421;
  text-decoration: underline;
  font-weight: bold;
}

.footer-corner-img {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 60px;
  opacity: 0.7;
  pointer-events: none;
}

.mensagem {
  background-color: #ede4db;
  padding: 20px;
  border-left: 5px solid #5c3421;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 25px 20px;
    max-width: 70%;
  }

  .footer-corner-img {
    width: 80px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  input,
  button {
    font-size: 0.95rem;
  }

  button {
    padding: 10px;
  }

  .footer-corner-img {
    display: none;
  }
}

.tabela-coffees {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-family: Arial, sans-serif;
}

.tabela-coffees th,
.tabela-coffees td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-coffees thead {
  background-color: #8a5836;
  color: white;
}

.tabela-coffees tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela-coffees tbody tr:hover {
  background-color: #ddd;
}

#mensagemSucesso {
  font-weight: bold;
  margin-top: 1rem;
  font-family: Arial, sans-serif;
  color: green;
}